.playlist-layout{
}


h1{
    word-break: normal;
}


.playlist-display-section{
    height: 100vh;
    overflow-y: scroll;
}

.playlist-display-section-playlists{
    margin: 1rem;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    
}

.playlist-display-box{
    color: white;
    display: flex;
    width: 18rem;
    flex-direction: column;
    align-items: center;
    height: 20rem;
    border: 2px solid red;
    margin: 1rem;
    border-radius: 10px 5px 10px 5px;
    padding: 1rem;
}

.playlist-thumbnail-container{
    width: 100%;
    height: 15rem;
}

.playlist-thumbnail{
    width: 100%;
    height: 100%;
}

.playlist-title{
    font-size: 1.2rem;
    margin-top: 0.5rem;
    cursor: pointer;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    transition: all 0.2s;
}

.playlist-title:hover{
    border-bottom: 2px solid white;
}

.playlist-remove-btn{
    border-radius: 10px;
    background-color: rgba(255, 0, 0, 0.7);
    color: white;
    padding: 0.2rem 0.5rem;
    outline: none;
    border:none;
    transition: all 0.2s;
}

.playlist-remove-btn:hover{
    background-color: red;
}

@media only screen and (max-width: 600px){
    .playlist-display-section-playlists{
        justify-content: center;
        margin: 0;
    }
}
