.playlist-layout{
    display: grid;
    grid-template-columns: 0.18fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "nav vid vid vid"
    "nav vid vid vid"
    "nav vid vid vid";
    justify-content: center;
    align-items: center;
    grid-column-gap: 1rem;
}

.playlist-side-nav{
    grid-area: nav;
    display: flex;
    flex-direction: column;
    background-color: rgb(201, 0, 0);
    width: 100%;
    height: 100%;
}

.playlist-display-section{
    grid-area: vid;
    min-height: 100vh;
}