.playlist-detail-layout{
    display: grid;
    grid-template-columns: 0.18fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "nav vid vid vid"
    "nav vid vid vid"
    "nav vid vid vid";
    justify-content: center;
    /* align-items: center; */
   
}

.playlist-detail-nav{
    grid-area: nav;
    display: flex;
    flex-direction: column;
    background-color: rgb(201, 0, 0);
    width: 100%;
    min-height: 100vh;
    height: 100%;
}

.playlist-video-lists{
    grid-area: vid;

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 1rem;
    
}

.video-player-details{
    min-height: 4rem;
    border-bottom: 1px solid transparent;
}

@media only screen and (max-width: 600px){
    .playlist-detail-nav{display: none;}
    .video-player{
        
        height: max-content;
    }
    .playlist-detail-layout{
        grid-template-areas: "vid vid vid vid"
        "vid vid vid vid"
        "vid vid vid vid";
    }

    .playlist-video-lists{
       
        align-items: flex-start;
        justify-content: center;
    }
}