.App {
  text-align: center;
  background-color: #111111;
  height: 100vh;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@media only screen and (min-width:600px){
  .bottom-nav{
    display: none;
  }
}


@media only screen and (max-width:600px){
  .bottom-nav{
   position: fixed !important;
   bottom: 0rem;
   width: 100%;
   background-color: red;
   height: 4rem;
  }
}


.app-display{
  display: flex;
  width: 100vw;
  height: 95vh;
}

.video-area{
  width: 100%;
  /* border: 2px solid white; */
  padding: 0.5rem 0.5rem 0;
  overflow-y: scroll;
}

.sidebar{
  background-color: red;
  height: 100%;
  position: sticky;
}

@media only screen and (max-width: 600px){
  .sidebar{
    display: none;
  }
  .app-display{
    justify-content: center;
  }
}



#parent{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#child{
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
  box-sizing: content-box; /* So the width will be 100% + 17px */
}
